.counterwrapper {
  margin: 160px auto;
  width: 800px;
  height: 500px;
  font-weight: 700;
  font-size: 36px;
  padding-top: 80px;
  border-radius: 50px;
  background: linear-gradient(145deg, #7badd0, #6892af);
  box-shadow: 36px 36px 33px #3f596b, -36px -36px 33px #a7ebff;
}
.values {
  text-align: center;
}
.values input {
  height: 50px;
  width: 300px;
  outline: none;
  font-size: 24px;
  padding-left: 30px;
}
.values button {
  font-size: 24px;
  margin-right: 12px;
  padding: 16px 24px;
  background-color: rgb(199, 119, 65);
  border: 0px;
  border-radius: 50px;
}
.values button:hover {
  cursor: pointer;
}
.values button:first-of-type,
.values button:last-of-type {
  background-color: rgb(242, 210, 189);
}

