.notfound {
  margin: 200px auto;
  text-align: center;
}
.home {
  text-decoration: none;
}

@media (max-width: 768px) {
  .notfound {
    margin-top: -650px;
  }
}
@media (max-width: 415px) {
  .notfound {
    margin-top: -550px;
  }
}
